{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/card.min.css') }}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Liste des entreprises</h1>
    </div>
</div>

<div class="row">
<div class="col-lg-12">
    <div class="ui special cards">
        {% for company in companies %}
            <div class="card {% if company.banned %}banned {% endif %}">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button"><a href="{{ path('show_company', {'id': company.id}) }}" style="color: #FFF;">Plus d'infos</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="{{ vich_uploader_asset(company.supervisor, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
                </div>
                <div class="content">
                    <a class="header" href="http://{{ relative_path(company.url) }}">{{ company.name }}</a>
                </div>
                {% if company.banned == false %}
                    <div class="ui bottom attached button rdv" data-company="{{ company.id }}">
                        <i class="ban icon"></i>
                        Je ne souhaite pas rencontrer cette entreprise.
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>


    <div class="ui small basic modal">
        <div class="header">Attention !</div>
        <div class="content">
            <div class="description">
                <p>Une entreprise bannie ne pourra pas prendre de rendez-vous avec vous.</p>
                <p>Voulez-vous vraiment la bannir ?</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">Annuler</div>
            <div class="ui positive right button" style="background-color: #db2828!important;">Bannir</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script >
        $(function() {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });

            $('.rdv').on('click', function(){
            var $this = $(this);
                var company = $(this).data('company');
                var url = Routing.generate('student_ban_company', {
                    company: company
                });
                $('.ui.small.basic.modal').modal({
                    allowMultiple: false,
                    autofocus: false,
                    blurring: true,
                    onApprove : function() {
                        $.ajax({
                    url: url,
                    type: "POST"
                }).done(function(data) {
                    Messenger().post(data.message);
                    if(data.success){
                        $this.hide();
                        $this.parents('.card').addClass('banned');
                    }
                });
                    }
                }).modal('show');
            });

            $('select.dropdown')
  .dropdown()
;
        });
    </script>
{% endblock %}