{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Modifier mon profil</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ui">
                                <img class="ui centered circular medium image" src="{{ vich_uploader_asset(app.user, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
                            </div>
                            <form action="{{ path('edit_student') }}" {{ form_enctype(formImage) }} method="post" class="ui form">
                                <div class="field">
                                    <label>Nom</label>
                                    <div class="two fields">
                                        <div class="field">
                                            <input type="text" readonly value="{{ app.user.name }}">
                                        </div>
                                        <div class="field">
                                            <input type="text" readonly value="{{ app.user.firstname }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="twelve wide field">
                                        <label>Date de naissance</label>
                                        <div class="three fields">
                                            <div class="field">
                                                <div class="ui fluid search dropdown selection">
                                                    <div class="default text">Jour</div>
                                                    {{ form_widget(form.birthday.day,{'attr': {'class':'dropdown' }}) }}
                                                    <i class="dropdown icon"></i>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui fluid search dropdown selection">
                                                    <div class="default text">Mois</div>
                                                    {{ form_widget(form.birthday.month,{'attr': {'class':'dropdown' }}) }}
                                                    <i class="dropdown icon"></i>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui fluid search dropdown selection">
                                                    <div class="default text">Année</div>
                                                    {{ form_widget(form.birthday.year,{'attr': {'class':'dropdown' }}) }}
                                                    <i class="dropdown icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="three wide field">
                                        <label>Sexe</label>
                                        {{ form_widget(form.sex,{'attr': {'id': 'sex', 'class':'dropdown' }}) }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Description</label>
                                    {{ form_widget(form.description,{'attr': {'placeholder': 'Entrez une description rapide de vous'}}) }}
                                </div>
                                <div class="field">
                                    <div class="two fields">
                                        <div class="field">
                                            <label>Nationalité</label>
                                            {{ form_widget(form.nationality,{'attr': {'id': 'nationality', 'class':'dropdown' }}) }}
                                        </div>
                                        <div class="field">
                                            <label>Image de profil</label>
                                            <div>
                                                <label for="userbundle_image_imageFile" class="ui icon button">
                                                    <i class="file icon"></i>Choisir un fichier</label>
                                                {{ form_widget(formImage.imageFile,{'attr': {'id': 'file', 'style': 'display: none'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_widget(form._token) }}
                                {{ form_widget(formImage._token) }}
                                <button class="ui button" type="submit">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $('.dropdown').dropdown();
        });
    </script>
{% endblock %}