{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/card.min.css') }}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Liste des entreprises bannies</h1>
    </div>
</div>

<div class="row">
<div class="col-lg-12">
    <div class="ui special cards">
        {% for company in companies %}
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button"><a href="{{ path('show_company', {'id': company.id}) }}" style="color: #FFF;">Plus d'infos</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="{{ vich_uploader_asset(company.supervisor, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
                </div>
                <div class="content">
                    <a class="header" href="http://{{ relative_path(company.url) }}">{{ company.name }}</a>
                </div>
                <div class="ui bottom attached button rdv" data-company="{{ company.id }}">
                    <i class="trash icon"></i>
                    Je souhaite rencontrer cette entreprise
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="ui small basic modal">
    <div class="header">Attention</div>
    <div class="content">
        <div class="description">
            <p>L'entreprise pourra de nouveau prendre rendez-vous avec vous.</p>
            <p>Voulez-vous vraiment rendre cela possible ?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">Annuler</div>
        <div class="ui positive right button">Accepter</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script >
        $(function() {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });

            $('.rdv').on('click', function(){
                var $this = $(this);
                var company = $(this).data('company');
                var url = Routing.generate('student_ban_company_remove', {
                    company: company
                });
                $('.ui.small.basic.modal').modal({
                    allowMultiple: false,
                    autofocus: false,
                    blurring: true,
                    onApprove : function() {
                        $.ajax({
                            url: url,
                            type: "POST"
                        }).done(function(data) {
                            Messenger().post(data.message);
                            if(data.success){
                                $($this.parent('div')).fadeOut("slow", function() {
                                    $($this.parent('div')).remove()
                                });
                            }
                        });
                    }
                }).modal('show');
            });

            $('select.dropdown')
  .dropdown()
;

        });
    </script>
{% endblock %}