{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/card.min.css') }}">
{% endblock %}

{% block content %}
<div>
    <h1 class="page-header">Liste de vos rendez-vous</h1>
</div>

<div>
    {% if meetings|length() == 0 %}
        <div class="ui icon message">
          <i class="frown icon"></i>
          <div class="content">
            <div class="header">
              Aucun rendez-vous !
            </div>
            <p>Aucune entreprise ne souhaite vous rencontrer pour l'instant.</p>
          </div>
        </div>
    {% endif %}
    <div class="ui special cards">

        {% for meeting in meetings %}
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button"><a href="{{ path('show_company', {'id': meeting.company.id}) }}" style="color: #FFF;">Plus d'infos</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="{{ vich_uploader_asset(meeting.company.supervisor, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
                </div>
                <div class="content">
                    <a class="header">
                    {{ meeting.company.name }}
                    </a>
                </div>
                <div class="extra content">
                {% if meeting.startHour is null %}
                    <span>Le planning n'a pas encore été généré.</span>
                {% else %}
                    <span class="right floated">
                        <i class="marker icon"></i>
                        {{ meeting.company.room.name }}
                    </span>
                    <span>
                        <i class="wait icon"></i>
                        {{ meeting.startHour|date('H:i') }}
                    </span>
                {% endif %}
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script >
        $(function() {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        })
    </script>
{% endblock %}