{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="ui dividing header">Informations de l'étudiant</h1>

    <div class="ui items">
        <div class="item">
            <div class="image">
                <img src="{{ vich_uploader_asset(student.user, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
            </div>
            <div class="content">
                <a class="header">
                    {{ student.user.firstname }} {{ student.user.name }}
                </a>
                <div class="meta">
                    <span>{{ student.user.email }}</span>
                    {% if student.birthday != null %}
                        <span>{{ student.birthday|date('d/m/Y') }}</span>
                    {% endif %}
                </div>
                <div class="description" style="margin-bottom: 10px">
                    <p>
                        {{ student.description }}
                    </p>
                </div>
                {% if is_granted('ROLE_COMPANY') %}
                    <div class="ui">
                        <button class="ui basic button rdv" data-student="{{ student.id }}">
                            <i class="add icon"></i>
                            Prendre un rendez-vous
                        </button>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="ui right floated">
                        <a href="mailto:{{ student.user.email }}?subject=Contact depuis le site Forum Polytech"">
                            <button class="ui basic button">
                                <i class="mail icon"></i>
                                Contacter
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_COMPANY') %}
        {% include('UserBundle:Company:choice_priority.html.twig') %}
    {% endif %}
{% endblock %}

{% if is_granted('ROLE_COMPANY') %}
    {% block javascripts %}
        <script >
            $(function() {
                $('body').on('click','.rdv', function(){
                    var idStudent = $(this).data('student');
                    $('.ui.small.basic.modal').modal({
                        allowMultiple: false,
                        autofocus: false,
                        blurring: true,
                        onApprove : function() {
                            var url = Routing.generate('company_add_meeting', {
                                student: idStudent,
                                priority: $('#priority').find('option:selected').val()
                            });
                            $.ajax({
                                url: url,
                                type: "GET"
                            }).done(function(data) {
                                Messenger().post(data.message);
                            });
                        }
                    }).modal('show');
                });
            });
        </script>
    {% endblock %}
{% endif %}