<div class="ui small basic modal">
    <i class="close icon"></i>
    <div class="header">Choix de la  priorité</div>
    <div class="content">
        <div class="description">
            <p>Une priorité indique l'importance du rendez-vous pour vous (1 très important - 10 peu important)</p>
            <p>
                <div class="field">
                    <div class="ui fluid search dropdown selection">
                        <div class="default text">Année</div>
                        <select name="" id="priority" class="dropdown">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <i class="dropdown icon"></i>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">Annuler</div>
        <div class="ui positive right button">Valider</div>
    </div>
</div>