{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Modifier mon profil</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ui">
                                <img class="ui centered circular medium image" src="{{ vich_uploader_asset(app.user, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
                            </div>
                            <form action="{{ path('edit_company') }}" {{ form_enctype(formImage) }} method="post" class="ui form">
                                <div class="field">
                                    <label>Nom du superviseur</label>
                                    <div class="two fields">
                                        <div class="field">
                                            <input type="text" readonly value="{{ app.user.name }}">
                                        </div>
                                        <div class="field">
                                            <input type="text" readonly value="{{ app.user.firstname }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="two fields">
                                        <div class="field">
                                            <label>Site internet</label>
                                            <div class="ui labeled input">
                                                <div class="ui label">
                                                    http://
                                                </div>
                                                {{ form_widget(form.url,{'attr': {'placeholder': 'Votre site internet' }}) }}
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Logo</label>
                                            <div>
                                                <label for="userbundle_image_imageFile" class="ui icon button">
                                                    <i class="file icon"></i>Choisir un fichier</label>
                                                {{ form_widget(formImage.imageFile,{'attr': {'id': 'file', 'style': 'display: none'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Description</label>
                                    {{ form_widget(form.description,{'attr': {'placeholder': 'Entrez une description rapide de votre entreprise'}}) }}
                                </div>
                                {{ form_widget(form.name)}}
                                {{ form_widget(form._token) }}
                                {{ form_widget(formImage._token) }}
                                <button class="ui button" type="submit">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}