{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Liste des entreprises</h1>
        </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Entreprises</b>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                                    <thead>
                                    <tr role="row">
                                        <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: column " style="width: 153px;">Nom</th>
                                        <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: column " style="width: 153px;">Nombre d'entretiens</th>
                                        <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s):  column " style="width: 94px;">Voir l'entreprise</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for company in companies %}
                                        <tr class="gradeU odd" role="row">
                                            <td> {{ company.name }} </td>
                                            <td class="sorting_1">XX</td>
                                            <td class="center"> <a href="{{ path("show_company", {'id': company.id}) }}">Voir</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}