<div id="students" class="ui special cards">
    {% for student in students %}
        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui primary button"><a href="{{ path('show_student', {'id': student.id}) }}" style="color: #FFF;">Plus d'infos</a></div>
                        </div>
                    </div>
                </div>
                <img src="{{ vich_uploader_asset(student.user, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
            </div>
            <div class="content">
                <a class="header">
                    {{ student.user.firstname }} {{ student.user.name }}
                </a>
            </div>
            <div class="ui bottom attached button rdv" data-student="{{ student.id }}">
                <i class="add icon"></i>
                Prendre un rendez-vous
            </div>
        </div>
    {% endfor %}
</div>