{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/card.min.css') }}">
{% endblock %}

{% block content %}
<div>
    <h1 class="page-header">Liste de vos rendez-vous</h1>
</div>

<div>
    {% if meetings|length() == 0 %}
        <div class="ui icon message">
          <i class="student icon"></i>
          <div class="content">
            <div class="header">
              Aucun rendez-vous !
            </div>
            <p>Vous n'avez pas encore défini les étudiants que vous souhaitiez rencontrer. N'hésitez pas à regarder la liste des étudiants <a href="{{ path('company_list_student') }}">ici</a>.</p>
          </div>
        </div>
    {% endif %}
    <div class="ui special cards">

        {% for meeting in meetings %}
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button"><a href="{{ path('show_meeting', {'meeting': meeting.id}) }}" style="color: #FFF;">Commencer l'entretien</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="{{ vich_uploader_asset(meeting.student.user, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
                </div>
                <div class="content">
                    <a class="header">
                    {{ meeting.student.user.firstname }} {{ meeting.student.user.name }}
                    </a>
                </div>
                <div class="extra content">
                {% if meeting.startHour is null %}
                    <span>Le planning n'a pas encore été généré.</span>
                {% else %}
                    <span class="right floated">
                        <i class="marker icon"></i>
                        {% if meeting.company.room is not null %}
                            {{ meeting.company.room.name }}
                        {% endif %}
                    </span>
                    <span>
                        <i class="wait icon"></i>
                        {{ meeting.startHour|date('H:i') }}
                    </span>
                {% endif %}
                </div>
                <div class="ui bottom attached button delete" data-meeting="{{ meeting.id }}">
                    <i class="trash icon"></i>
                    Supprimer
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script >
        $(function() {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });

            $('.delete').on('click', function(){
                var $this = $(this);
                var meeting = $(this).data('meeting');
                var url = Routing.generate('company_meeting_delete', {
                    meeting: meeting
                });
                $.ajax({
                    url: url,
                    type: "GET"
                }).done(function(data) {
                    Messenger().post(data.message);
                    if(data.success){
                        $($this.parent('div')).fadeOut("slow", function() {
                            $($this.parent('div')).remove()
                        });
                    }
                });
            });

        })
    </script>
{% endblock %}