{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="ui dividing header">
        <i class="print icon"></i>
        <div class="content">
            Planning
        </div>
    </h2>
    {% if meetings is empty %}
        <div class="ui icon message">
            <i class="student icon"></i>
            <div class="content">
                <div class="header">
                    Aucun rendez-vous !
                </div>
                <p>Vous n'avez pris aucun rendez-vous pour le moment. Vous pouvez planifier des rendez-vous <a href="{{ path('company_list_student') }}">ici</a>.</p>
            </div>
        </div>
    {% else %}
        {% if meetings[0].startHour == null %}
            <div class="ui icon message">
                <i class="student icon"></i>
                <div class="content">
                    <div class="header">
                        Planning non généré.
                    </div>
                    <p>Le planning n'a pas encore été généré. Merci de patienter.</p>
                </div>
            </div>
        {% endif %}
        <div class="drag-container">
            <ul class="drag-list">
                <li class="drag-column drag-column-on-hold">
                    <span class="drag-column-header">
                        <h2>{{ meetings[0].company.name }}</h2>
                    </span>
                    <ul class="drag-inner-list">
                        {% for meeting in meetings %}
                            {% if meeting.startHour != null %}
                                <li class="drag-item">
                                    <div class="ui">
                                        <p>
                                            <i class="student icon"></i>{{ meeting.student.user.firstname }} {{ meeting.student.user.name }}
                                        </p>
                                        <p><i class="wait icon"></i>{{ meeting.startHour|date('H:i') }} - 30mn</p>
                                        {% if meeting.company.room is not null %}
                                            <p><i class="university icon"></i>Salle {{ meeting.company.room.name }}</p>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/planning.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        $('.print').on('click', function(){
            window.print();
        });
    </script>
{% endblock %}