{% trans_default_domain 'FOSUserBundle' %}

    {% extends 'base.html.twig' %}

    {% block content %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ajouter une nouvelle entreprise</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if(form_errors(form)|length) >1 %}
                                    <div class="alert alert-danger">
                                        {{ form_errors(form) }}
                                    </div>
                                {% endif %}

                                <form action="{{ path('company_register') }}" {{ form_enctype(form) }} method="post">
                                    {% if form_errors(form.email)|length > 1 %}
                                    <div class="form-group has-error">
                                        {% else %}
                                        <div class="form-group">
                                            {% endif %}
                                            {{ form_label(form.email, "Adresse mail : ",{'attr': {'for': 'email' }}) }}
                                            {{ form_widget(form.email,{'attr': {'id': 'email', 'class':'form-control' }}) }}
                                        </div>

                                        {% if form_errors(form.name)|length > 1 %}
                                        <div class="form-group has-error">
                                            {% else %}
                                            <div class="form-group">
                                                {% endif %}
                                                {{ form_label(form.name, "Nom du responsable : ",{'attr': {'for': 'name' }}) }}
                                                {{ form_widget(form.name,{'attr': {'id': 'name', 'class':'form-control' }}) }}
                                            </div>
                                            {% if form_errors(form.firstname)|length > 1 %}
                                            <div class="form-group has-error">
                                                {% else %}
                                                <div class="form-group">
                                                    {% endif %}
                                                    {{ form_label(form.firstname, "Prénom du responsable : ",{'attr': {'for': 'name2' }}) }}
                                                    {{ form_widget(form.firstname,{'attr': {'id': 'name2', 'class':'form-control' }}) }}
                                                </div>
                                    {% if form_errors(formCompany.name)|length > 1 %}
                                    <div class="form-group has-error">
                                        {% else %}
                                        <div class="form-group">
                                            {% endif %}
                                            {{ form_label(formCompany.name, "Nom de l'entreprise : ",{'attr': {'for': 'name' }}) }}
                                            {{ form_widget(formCompany.name,{'attr': {'id': 'name', 'class':'form-control' }}) }}
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_widget(formCompany._token) }}
                                        <button type="reset" class="btn btn-default">Annuler</button>
                                        <button type="submit" class="btn btn-default">Créer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}