{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="ui dividing header">Votre rendez-vous</h1>

    <div class="ui grid">
        <div class="seven wide column">
            <div class="ui items">
                <div class="item">
                    <div class="image">
                        <img src="{{ vich_uploader_asset(meeting.student.user, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
                    </div>
                    <div class="content">
                        <a class="header">
                            {{ meeting.student.user.firstname }} {{ meeting.student.user.name }}
                        </a>
                        <div class="meta">
                            <span>{{ meeting.student.user.email }}</span>
                            <span>{{ meeting.student.birthday|date('d/m/Y') }}</span>
                        </div>
                        <div class="description" style="margin-bottom: 10px">
                            <p>{{ meeting.student.description }}</p>
                        </div>
                    </div>
                </div>
                {% if nextMeeting != null %}
                    <div class="ui items">
                        <button class="ui right labeled icon button">
                            <i class="right arrow icon"></i>
                            <a style="color: inherit" href="{{ path('show_meeting', {'meeting' : nextMeeting.id }) }}">Prochain rendez-vous</a>
                        </button>
                    </div>
                {% endif %}



                {% if meeting.startHour != null %}
                    <div class="ui items">
                        <button class="ui right labeled icon button" id="btn-send-notif" data-company="{{meeting.company.name}}" data-student="{{ meeting.student.user.firstname }} {{ meeting.student.user.name }}" data-next-company-id="{% if nextStudentMeeting != null %}{{nextStudentMeeting.company.supervisor.id }}{% endif %}" data-next-student-id="{% if nextCompanyMeeting != null %}{{nextCompanyMeeting.student.user.id }}{% endif %}">
                            <i class="right wait icon"></i>
                            Retard de 5mn
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="nine wide column">
            <form class="ui form" action="#" method="post">
                <div class="field">
                    <label>Commentaire</label>
                    <small id="commentary_save" style="color: limegreen; display: none">Sauvegardé</small>
                    {{ form_widget(commentary.content, {'attr': {'data-meeting':meeting.id, 'style':'height: 270px' }}) }}
                </div>
                {{ form_widget(commentary._token) }}
            </form>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        (function($){
            $.fn.extend({
                donetyping: function(callback,timeout){
                    timeout = timeout || 1e3; // 1 second default timeout
                    var timeoutReference,
                            doneTyping = function(el){
                                if (!timeoutReference) return;
                                timeoutReference = null;
                                callback.call(el);
                            };
                    return this.each(function(i,el){
                        var $el = $(el);
                        // Chrome Fix (Use keyup over keypress to detect backspace)
                        // thank you @palerdot
                        $el.is(':input') && $el.on('keyup keypress',function(e){
                            // This catches the backspace button in chrome, but also prevents
                            // the event from triggering too premptively. Without this line,
                            // using tab/shift+tab will make the focused element fire the callback.
                            if (e.type=='keyup' && e.keyCode!=8) return;

                            // Check if timeout has been set. If it has, "reset" the clock and
                            // start over again.
                            if (timeoutReference) clearTimeout(timeoutReference);
                            timeoutReference = setTimeout(function(){
                                // if we made it here, our timeout has elapsed. Fire the
                                // callback
                                doneTyping(el);
                            }, timeout);
                        }).on('blur',function(){
                            // If we can, fire the event since we're leaving the field
                            doneTyping(el);
                        });
                    });
                }
            });
        })(jQuery);

        $('#userbundle_commentary_content').donetyping(function(){
            var val = $('#userbundle_commentary_content').val();
            var url;
            if(val == ""){
                url = Routing.generate('company_commentary', {
                    meeting: $('#userbundle_commentary_content').data('meeting'),
                });
            }
            else{
                url = Routing.generate('company_commentary_content', {
                    meeting: $('#userbundle_commentary_content').data('meeting'),
                    content: val
                });
            }
            $.ajax({
                url: url,
                type: "POST"
            }).done(function(data) {
                if (data.success) {
                    $('#commentary_save').fadeIn('slow', function () {
                        $(this).delay(1000).fadeOut('slow');
                    });
                }
            });
        });
    </script>
{% endblock %}