{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="ui dividing header">Informations de l'entreprise</h1>

    <div class="ui items">
        <div class="item">
            <div class="image">
                <img src="{{ vich_uploader_asset(company.supervisor, 'imageFile')|imagine_filter('avatar')}}" alt="Photo de profil" />
            </div>
            <div class="content">
                <a class="header">
                    {{ company.name }}
                </a>
                <div class="meta">
                    <span>{{ company.supervisor.firstname }} {{ company.supervisor.name }}</span>
                    <span>{{ company.supervisor.email }}</span>
                </div>
                <div class="description" style="margin-bottom: 10px">
                    <p>
                        {{ company.description }}
                    </p>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="ui right floated">
                        <a href="mailto:{{ company.supervisor.email }}?subject=Contact depuis le site Forum Polytech"">
                        <button class="ui basic button">
                            <i class="mail icon"></i>
                            Contacter
                        </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}