{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/card.min.css') }}">
{% endblock %}

{% block content %}

    <div style="float: right">
        <div class="ui left icon input">
            <input id="search" type="text" placeholder="Chercher un étudiant...">
            <i class="users icon"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Liste des étudiants</h1>
        </div>
    </div>

    <div id="students_container">
        {% include('UserBundle:Company:list_student.html.twig') %}
    </div>

    {% if is_granted('ROLE_COMPANY') %}
        {% include('UserBundle:Company:choice_priority.html.twig') %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script >
        $(function() {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });

            $('body').on('click','.rdv', function(){
                var idStudent = $(this).data('student');
                $('.ui.small.basic.modal').modal({
                    allowMultiple: false,
                    autofocus: false,
                    blurring: true,
                    onApprove : function() {
                        var url = Routing.generate('company_add_meeting', {
                            student: idStudent,
                            priority: $('#priority').find('option:selected').val()
                        });
                        $.ajax({
                            url: url,
                            type: "GET"
                        }).done(function(data) {
                            Messenger().post(data.message);
                        });
                    }
                }).modal('show');
            });

            $('select.dropdown')
  .dropdown()
;
        var delay = (function() {
            var timer = 0;
            return function(callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $('#search').on('keyup', function(){
            delay(function() {
                var val = $('#search').val();
                if (val.length < 3 && val.length > 0) return;
                if (val.length == 0) val = "#all";

                var url = Routing.generate('search_student', {
                    name: val
                });
                $.ajax({
                    url: url,
                    type: "POST"
                }).done(function(data) {
                    console.log(data);
                    if (data.success) {
                        $('#students').slideUp().remove();
                        $('#students_container').after(data.data);
                        $('.special.cards .image').dimmer({
                            on: 'hover'
                        });
                    }
                });
            }, '100');
        });

        });
    </script>
{% endblock %}