<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Forum Entreprise{% endblock %}</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}">
        <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/messenger/messenger.css') }}">
        <link rel="stylesheet" href="{{ asset('css/messenger/messenger-spinner.css') }}">
        <link rel="stylesheet" href="{{ asset('css/messenger/messenger-theme-flat.css') }}">
        <link rel="stylesheet" href="{{ asset('css/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" media="print" href="{{ asset('css/print.css') }}">
        {% block stylesheets %}{%  endblock %}

        <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('js/jquery.session.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <input type="hidden" value="{{ app.user.id }}" id="id" />
        {% include ':layout:sidebar.html.twig' %}
        {% include ":layout:header.html.twig" %}
        <div class="pusher" style="margin-left: 250px; margin-top: 70px; width: 80%;">
            {% block content %}{% endblock %}
        </div>
        

        <script src="{{ asset('js/messenger.js') }}"></script>
        <script src="{{ asset('js/messenger-theme-flat.js') }}"></script>
        <script src="{{ asset('js/messenger-theme-future.js') }}"></script>
        <script src="{{ asset('js/semantic.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="{{ asset('js/notification.js') }}"></script>
        {% block javascripts %}{% endblock %}
        {% include ":layout/items:flash.html.twig" %}
        <script>
            $(function() {
                $('.dropdown').dropdown();
            });
        </script>
    </body>
</html>
