{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">
    <link rel="stylesheet" href="{{ asset('css/messenger/messenger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/messenger/messenger-spinner.css') }}">
    <link rel="stylesheet" href="{{ asset('css/messenger/messenger-theme-flat.css') }}">
    <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('js/messenger.js') }}"></script>
    <script src="{{ asset('js/messenger-theme-flat.js') }}"></script>
    <script src="{{ asset('js/messenger-theme-future.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="width:100%;text-align: center;">Valider son compte</h3>
                    </div>
                    <div class="panel-body">
                        <form action="#" {{ form_enctype(form) }} method="post">
                            {% if form_errors(form.plainPassword.first)|length > 1 %}
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">{{ form_errors(form.plainPassword.first)  }}</label>
                                {% else %}
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.first, "Mot de passe : ") }}
                                    {% endif %}
                                    {{ form_widget(form.plainPassword.first,{'attr': {'class':'form-control' }}) }}
                                </div>
                                {% if form_errors(form.plainPassword.second)|length > 1 %}
                                <div class="form-group has-error">
                                    {% else %}
                                    <div class="form-group">
                                        {% endif %}
                                        {{ form_label(form.plainPassword.second, "Confirmation mot de passe : ") }}
                                        {{ form_widget(form.plainPassword.second,{'attr': {'class':'form-control' }}) }}
                                    </div>
                                    {{ form_widget(form._token) }}
                                    <button type="submit" class="btn btn-default">Confirmé</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>



