{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="ui dividing header">Envoyer un message</h1>
    <form class="ui form" action="{{ path('message_post') }}" method="post">
        <div class="field {% if form_errors(form.message)|length > 1 %} error {% endif %}">
            <label>Votre message</label>
            {{ form_widget(form.message,{'attr': {'placeholder':'Tapez votre message...' }}) }}
        </div>
        {{ form_widget(form._token) }}
        <button class="ui button" type="submit">Valider</button>
    </form
{% endblock %}