<div class="ui top fixed menu">
    <div class="right menu">
        {% if is_granted('ROLE_ADMIN') %}
            {{ render(controller('UserBundle:Admin:message', { 'limit': 5 })) }}
        {% endif %}
        <div class="ui right dropdown item" id="notifs-menu">
            <i class="feed icon"></i>
            <i class="dropdown icon"></i>
            <div class="ui teal label" id="nb-notifs-tag"></div>
            <div class="menu" id="notifs">
                <div class="item" id="btn-clear-notifs">Effacer les notifications</div>
            </div>
        </div>
        <div class="ui dropdown item">
            <i class="user icon"></i>
            <i class="dropdown icon"></i>
            <div class="menu">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="item" href="{{ path('admin_edit') }}">
                        <i class="user icon"></i>
                        Mon compte
                    </a>
                {% elseif is_granted('ROLE_STUDENT') %}
                    <a class="item" href="{{ path('edit_student') }}">
                        <i class="user icon"></i>
                        Mon compte
                    </a>
                {% elseif is_granted('ROLE_COMPANY') %}
                    <a class="item" href="{{ path('edit_company') }}">
                        <i class="user icon"></i>
                        Mon compte
                    </a>
                {% endif %}
                <a class="item" href="{{ path('fos_user_security_logout') }}">
                    <i class="sign out icon"></i>
                    Se déconnecter
                </a>
            </div>
        </div>
    </div>
</div>
