<div class="ui simple visible sidebar inverted vertical menu">
    <div class="item">
        <img src="{{ asset('img/logos/polytech.png') }}" />
    </div>
    <a class="item" href="{{ path('dashboard') }}">
        <i class="home icon"></i>
        Accueil
    </a>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="item">
            <div class="header">Étudiants</div>
            <div class="menu">
                <a class="item" href="{{ path('admin_register_student') }}">
                    Ajouter un étudiant
                </a>
                <a class="item" href="{{ path('admin_list_students') }}">
                    Voir les étudiants
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">Entreprises</div>
            <div class="menu">
                <a class="item" href="{{ path('admin_register_company') }}">
                    Ajouter une entreprise
                </a>
                <a class="item" href="{{ path('admin_list_company') }}">
                    Voir les entreprises
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">Salles</div>
            <div class="menu">
                <a class="item" href="{{ path('room_add') }}">
                    Ajouter une salle
                </a>
                <a class="item" href="{{ path('room_list') }}">
                    Voir les salles
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">Meetings</div>
            <div class="menu">
                <a class="item" href="{{ path('meeting_add') }}">
                    Ajouter un meeting
                </a>
            </div>
        </div>
        <a class="item" href="{{ path('planning_show') }}">
            <i class="calendar icon"></i>
            Planning
        </a>
        <a class="item" href="{{ path('admin_message_list') }}">
            <i class="mail icon"></i>
            Messages
        </a>
        <a class="item" href="{{ path('admin_configuration') }}">
            <i class="settings icon"></i>
            Configuration
        </a>
    {% elseif is_granted('ROLE_COMPANY') %}
        <div class="item">
            <div class="header">Étudiants</div>
            <div class="menu">
                <a class="item" href="{{ path('company_list_student') }}">
                    Voir les étudiants
                </a>
                <a class="item" href="{{ path('company_meeting_list') }}">
                    Voir mes rendez-vous
                </a>
            </div>
        </div>
        <a class="item" href="{{ path('message_post') }}">
            <i class="mail icon"></i>
            Messages
        </a>
        <a class="item" href="{{ path('company_planning') }}">
            <i class="calendar icon"></i>
            Planning
        </a>
    {% elseif is_granted('ROLE_STUDENT') %}
        <div class="item">
            <div class="header">Entreprises</div>
            <div class="menu">
                <a class="item" href="{{ path('list_company_student') }}">
                    Voir les entreprises
                </a>
                <a href="{{ path('student_ban_company_list') }}" class="item">
                    Voir les entreprises bannies
                </a>
                <a class="item" href="{{ path('student_meeting_list') }}">
                    Voir mes rendez-vous
                </a>
            </div>
        </div>
        <a class="item" href="{{ path('message_post') }}">
            <i class="mail icon"></i>
            Messages
        </a>
        <a class="item" href="{{ path('student_planning') }}">
            <i class="calendar icon"></i>
            Planning
        </a>
    {% endif %}
</div>
