{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="ui dividing header">Ajouter une nouvelle salle</h1>
    {% if(form_errors(form)|length) > 1 or (form_errors(form.name)|length) > 1 %}
        <div class="ui error message">
            <div class="header">Une erreur est survenue lors de l'ajout de la salle.</div>
            {{ form_errors(form.name) }}
        </div>
    {% endif %}
    <form class="ui form" action="{{ path('room_add') }}" method="post">
        <div class="field {% if form_errors(form.name)|length > 1 %} error {% endif %}">
            <label>Nom</label>
            {{ form_widget(form.name,{'attr': {'placeholder':'Numéro de salle' }}) }}
        </div>
        <div class="field {% if form_errors(form.capacity)|length > 1 %} error {% endif %}">
            <label>Nombre de places</label>
            {{ form_widget(form.capacity,{'attr': {'placeholder':'Nombre de places' }}) }}
        </div>
        {{ form_widget(form._token) }}
        <button class="ui button" type="submit">Valider</button>
    </form>
{% endblock %}