{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="ui dividing header">Liste des salles</h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Places</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>
                <td>
                    <i class="remove circle icon red"></i>
                    <a style="color: inherit" href="{{ path("room_delete", {'id': room.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}