{% extends 'base.html.twig' %}
    {% block content %}
    <H1 class ="header center blue-text">Salle</h1>
    <div style="width:400px;margin-left: 28%;">
        <table>
            <thead><tr><td>id</td><td>Nom</td></tr></thead>
            <tbody>
            <tr><td>{{ id }}</td><td>{{ name }}</td></tr>
            </tbody>
        </table>
    </div>

{% endblock %}
