{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="ui dividing header">Configuration du planning</h1>
    <div class="ui icon message">
        <i class="wait icon"></i>
        <div class="content">
            <div class="header">
                Attention
            </div>
            <p>Après avoir modifié l'heure du début des rendez-vous, pensez à regénérer le planning.</p>
        </div>
    </div>

    <form id="form" class="ui form" action="{{ path('admin_configuration') }}" method="post">
        <div class="field">
            <label>Heure de début</label>
            <div class="field">
                <div class="ui fluid search dropdown selection">
                    <div class="default text">Année</div>
                    <select name="begin" id="begin" class="dropdown">
                        {% for i in 8..18 %}
                            <option value="{{ i }}:00" {% if begin == i ~':00'  %} selected {% endif %}>{{ i }}:00</option>
                            <option value="{{ i }}:30" {% if begin == i ~':30'  %} selected {% endif %}>{{ i }}:30</option>
                        {% endfor %}
                    </select>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <button class="ui button" type="submit">Valider</button>
    </form>

{% endblock %}