{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="ui dividing header">Modifier votre mot de passe</h1>
    {% if(form_errors(form)|length) > 1 or (form_errors(form.plainPassword.first)|length) > 1 %}
        <div class="ui error message">
            <div class="header">Une erreur est survenue.</div>
            {{ form_errors(form) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
    {% endif %}
    <form class="ui form" action="{{ path('admin_edit') }}" method="post">
        <div class="field {% if form_errors(form.plainPassword.first)|length > 1 %} error {% endif %}">
            <label>Nouveau mot de passe</label>
            {{ form_widget(form.plainPassword.first,{'attr': {'placeholder':'Nouveau mot de passe' }}) }}
        </div>
        <div class="field {% if form_errors(form.plainPassword.second)|length > 1 %} error {% endif %}">
            <label>Confirmation de mot de passe</label>
            {{ form_widget(form.plainPassword.second,{'attr': {'placeholder':'Confirmation nouveau mot de passe' }}) }}
        </div>
        {{ form_widget(form._token) }}
        <button class="ui button" type="submit">Valider</button>
    </form>
{% endblock %}