{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="ui dividing header">Liste des étudiants</h1>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nombre d'entretiens</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td {% if (student.user.enabled == 0) %} class="disabled" {% endif %}>{{ student.user.name }}</td>
                <td {% if (student.user.enabled == 0) %} class="disabled" {% endif %}>{{ student.user.firstname }}</td>
                <td {% if (student.user.enabled == 0) %} class="disabled" {% endif %}>{{ student.nbEntretiens }}</td>
                <td>
                    <i class="search icon"></i>
                    <a style="color: inherit" href="{{ path("show_student", {'id': student.id}) }}">Voir</a>
                    <br />
                    {% if(student.user.enabled == 0) %}
                        <i class="check circle icon green"></i>
                        <a style="color: inherit" href="{{ path("admin_activate_student", {'student': student.id}) }}">Activer</a>
                        <br />
                    {% endif %}
                    <i class="remove circle icon red"></i>
                    <a style="color: inherit" href="#" data-url="{{ path("admin_delete_student", {'student': student.id}) }}" class="delete">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="ui small basic modal">
        <div class="header">Attention !</div>
        <div class="content">
            <div class="description">
                <p>La suppression de cet étudiant va entrainer la suppression de tous les rendez-vous auxquels il participe.<p>
                <p>Voulez-vous vraiment le supprimer ?</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">Annuler</div>
            <div class="ui positive right button" style="background-color: #db2828!important;">Supprimer</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.delete').on('click', function(e){
            e.preventDefault();
            var url = $(this).data('url');
            $('.ui.small.basic.modal').modal({
                allowMultiple: false,
                autofocus: false,
                blurring: true,
                onApprove : function() {
                    console.log("coucou");
                    console.log(url);
                    window.location = url;
                }
            }).modal('show');
        });
    </script>
{% endblock %}