{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="ui dividing header">Liste des messages</h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>De</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.user.firstname }} {{ message.user.name }}</td>
                <td>le {{ message.created|date('d/m/Y à H:i:s') }}</td>
                <td>
                    {% if message.unread %}
                        <a class="ui label red">Non lu</a>
                    {% else %}
                        <a class="ui label green">Lu</a>
                    {% endif %}
                </td>
                <td>
                    <i class="search icon"></i>
                    <a style="color: inherit" href="{{ path('admin_message_show', {'id': message.id}) }}">Voir</a>
                    <br />
                    {% if message.unread %}
                        <i class="flag icon"></i>
                        <a style="color: inherit" href="{{ path("admin_message_read", {'id': message.id}) }}">Marquer comme lu</a> -
                        <br />
                    {% endif %}
                    <i class="remove circle icon red"></i>
                    <a style="color: inherit" href="{{ path("admin_message_delete", {'id': message.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}