<div class="ui right dropdown item">
    <i class="mail icon"></i>
    <i class="dropdown icon"></i>
    {% if messages|length() > 0 %}
        <div class="ui teal label">{{ messages|length() }}</div>
    {% endif %}
    <div class="menu">
        {% if messages|length() == 0 %}
            <div class="item">
                <p>Vous n'avez pas de nouveau message.</p>
            </div>
        {% else %}
            {% for message in messages %}
                <div class="item">
                    <div class="ui comments">
                        <div class="comment notification" data-url="{{ path('admin_message_show', {'id': message.id}) }}">
                            <a class="avatar">
                                <img src="{{ vich_uploader_asset(message.user, 'imageFile')|imagine_filter('avatar_thumb')}}" alt="Photo de profil" />
                            </a>
                            <div class="content">
                                <a class="author">{{ message.user.firstname }} {{ message.user.name }}</a>
                                <div class="metadata">
                                    <div class="date">{{ time_diff(message.created) }}</div>
                                </div>
                                <div class="text">
                                    {{ message.message|truncate(100) }}.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% block javascripts %}
    <script>
        $(function() {
            $('.notification').on('click', function(e){
                e.preventDefault();
                window.location = $(this).data('url');
            })
        });
    </script>
{% endblock %}