{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="ui dividing header">Message</h1>

    <div class="ui vertical segment">
        <p>De : <b>{{ message.user.firstname }} {{ message.user.name }}</b> <br />
        Le {{ message.created|date('d/m/Y à H:i:s') }}</p>
    </div>
    <div class="ui vertical segment">
        <p>
            {{ message.message }}
        </p>
    </div>
    <div class="ui vertical segment">
        <p>
            <a class="ui button" href="mailto:{{ message.user.email }}?subject=Réponse au message sur Forum Polytech">Répondre</a>
        </p>
    </div>
{% endblock %}