{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="ui dividing header">
        <i class="print icon"></i>
        <div class="content">
            Planning
        </div>
    </h2>
    {% if meetings is empty %}
        <div class="ui icon message">
            <i class="student icon"></i>
            <div class="content">
                <div class="header">
                    Aucun rendez-vous !
                </div>
                <p>Il n'y a aucun rendez-vous défini entre des entreprises et des étudiants.</p>
            </div>
        </div>
    {% elseif meetings[0].startHour == null %}
        <div class="ui icon message">
            <i class="student icon"></i>
            <div class="content">
                <div class="header">
                    Nouveaux rendez-vous pris.
                </div>
                <p>Il y a eu des nouveaux rendez-vous demandés. Veuillez regénérer le panning en cliquant <a href="#" class="modal-planning">ici</a>.</p>
            </div>
        </div>
        {% include('MeetingBundle:Meetings:planning.html.twig') %}
    {% else %}
        {% include('MeetingBundle:Meetings:planning.html.twig') %}
    {% endif %}

    <div class="ui small basic modal">
        <div class="header">Générer le planning</div>
        <div class="content">
            <div class="description">
                <p>Attention ! Générer le planning va effacer l'ancien planning s'il a déjà été généré.</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">Annuler</div>
            <div class="ui positive right button">Générer</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

<script>
    $('.modal-planning').on('click', function(e){
        e.preventDefault();
        $('.ui.small.basic.modal').modal({
            allowMultiple: false,
            autofocus: false,
            blurring: true,
            onApprove : function() {
                var url = Routing.generate('planning_generate');
                window.location = url;
            }
        }).modal('show');
    });

    $('.print').on('click', function(){
        window.print();
    });
</script>
{% endblock %}