{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="ui dividing header">Ajouter une nouvelle entreprise</h1>
    {% if(form_errors(form)|length) > 1 or (form_errors(form.email)|length) > 1 %}
        <div class="ui error message">
            <div class="header">Une erreur est survenue lors de l'ajout de l'entreprise.</div>
            {{ form_errors(form.email) }}
        </div>
    {% endif %}
    <form class="ui form" action="{{ path('admin_register_company') }}" method="post">
        <div class="field {% if form_errors(form.email)|length > 1 %} error {% endif %}">
            <label>Adresse email</label>
            {{ form_widget(form.email,{'attr': {'placeholder':'Adresse email' }}) }}
        </div>
        <div class="field {% if form_errors(form.name)|length > 1 %} error {% endif %}">
            <label>Nom du superviseur</label>
            {{ form_widget(form.name,{'attr': {'placeholder':'Nom' }}) }}
        </div>
        <div class="field {% if form_errors(form.firstname)|length > 1 %} error {% endif %}">
            <label>Prénom du superviseur</label>
            {{ form_widget(form.firstname,{'attr': {'placeholder':'Prénom' }}) }}
        </div>
        <div class="field {% if form_errors(formCompany.name)|length > 1 %} error {% endif %}">
            <label>Nom de l'entreprise</label>
            {{ form_widget(formCompany.name,{'attr': {'placeholder':'Nom de l\'entreprise' }}) }}
        </div>
        {{ form_widget(form._token) }}
        {{ form_widget(formCompany._token) }}
        <button class="ui button" type="submit">Valider</button>
    </form>
{% endblock %}