.meeting-invalid{
    border-color: red !important;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.banned{
    border: 1px solid red !important;
}

#nb-notifs-tag {
	display: none;
}

#btn-clear-notifs {
	text-align: center;
}
