ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drag-container {
    margin: 20px auto;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x : hidden;
    margin-right: 15px;
}

.drag-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@media (max-width: 690px) {
    .drag-list {
        display: block;
    }
}

.drag-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    min-width:200px;
}
@media (max-width: 690px) {
    .drag-column {
        margin-bottom: 30px;
    }
}
.drag-column h2 {
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
}
.drag-column-on-hold .is-moved,
.drag-column-on-hold .drag-options {
    background: #FB7D44;
}
.drag-column-in-progress .is-moved,
.drag-column-in-progress .drag-options {
    background: #2A92BF;
}
.drag-column-needs-review,
.drag-column-needs-review .is-moved,
.drag-column-needs-review .drag-options {
    background: #F4CE46;
}
.drag-column-approved .is-moved,
.drag-column-approved .drag-options {
    background: #00B961;
}

.drag-column-header {
    background-color: #4A4A4A;
    color: #FFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
}

.drag-inner-list {
    min-height: 50px;
}

.drag-item {
    margin-top: 10px;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.drag-item.is-moving {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.8);
}

.drag-header-more {
    cursor: pointer;
}

.drag-options {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.drag-options-label {
    display: block;
    margin: 0 0 5px 0;
}
.drag-options-label input {
    opacity: 0.6;
}
.drag-options-label span {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 5px;
}

/* Dragula CSS  */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    list-style-type: none;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
}

/* Demo info */
.section {
    padding: 20px;
    text-align: center;
}
.section a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}
.section h4 {
    font-weight: 400;
}
.section h4 a {
    font-weight: 600;
}

.wrapper1{width: 100%; border: none 0px RED;
    overflow-x: scroll; overflow-y:hidden;}
.wrapper1{height: 20px; }
.divwrap1 {width:4500px; height: 20px; }
