.ui.simple.visible.sidebar.inverted.vertical.menu,
.ui.top.fixed.menu{
    display: none !important;
}

body{
    background-color: #FFF !important;
}

.pusher, .drag-container, .drag-list, .drag-column{
    margin: 0 !important;
    width: 100% !important;
}

.ui.dividing.header{
    display: none !important;
}

.ui.icon.message{
    display: none !important;
}

.ui{
    background-color: #FFF !important;
    padding: 0 !important;
    margin: 0 !important;
}

.drag-item{
    padding: 0 !important;
    margin: 0 !important;
}