{% extends 'base.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include('MeetingBundle:Meetings:planning.html.twig') %}
    {% elseif is_granted('ROLE_COMPANY') %}

    {% elseif is_granted('ROLE_STUDENT') %}

    {% endif %}
{% endblock %}
