{% extends 'home.html.twig' %}	
{% block content %}
 <nav class="navbar navbar-default navbar-fixed-top  navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll blue" href="#page-top">Forum Entreprise</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services" style="color:#039be5;">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio" style="color:#039be5;">Fonctionnalités</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" style="color:#039be5;">Informations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team" style="color:#039be5;">Équipe</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="page-top">
        <div class="container" >
            <div class="intro-text">
                <div class="intro-lead-in" style="font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;font-style: normal;">Forum Entreprise</div>
                <div class="intro-heading" style="font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;font-style: normal;">Bienvenue</div>
                <a href="{{ path('fos_user_security_login') }}" class="page-scroll btn btn-xl">Se connecter</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services" style="background-color: #eee;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <br/>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-send fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Objectif</h4>
                    <p class="text-muted">Faciliter les entretiens entre étudiants et entreprises. Permettre à chacun d'avoir les informations facilement.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Étudiant</h4>
                    <p class="text-muted">À travers le site vous pourrez visualiser les entretiens auxquels vous êtes convié. Vous pourrez personnaliser votre profil afin de permettre aux entreprises d'avoir plus d'informations.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Entreprise</h4>
                    <p class="text-muted">Vous aurez la possibilité de voir vos différents entretiens ainsi que le profil de l'étudiant associé. Vous pourrez si vous le souhaitez ajouter des informations et/ou des liens permettant aux étudiants de se renseigner sur votre entreprise.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray" style="background-color: #eee;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fonctionnalités</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="portfolio-hover">
                        </div>
                        <img  class="img-responsive" alt="" style="width:360px;height:260px;
                        background-image: url('img/portfolio/roundicons.png');-webkit-background-size: cover;background-size: cover;">
                    <div class="portfolio-caption">
                        <h4>Planning</h4>
                        <p class="text-muted">Affichage de votre planning</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="portfolio-hover">
                        </div>
                        <img class="img-responsive" alt="" style="width:360px;height:260px;
                        background-image: url('img/portfolio/startup-framework.png');-webkit-background-size: cover;background-size: cover;">
                    <div class="portfolio-caption">
                        <h4>Temps réel</h4>
                        <p class="text-muted">Notifications en temps réel</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="portfolio-hover">
                        </div>
                        <img class="img-responsive" alt="" style="width:360px;height:260px;
                        background-image: url('img/portfolio/treehouse.png');-webkit-background-size: cover;background-size: cover;">
                    
                    <div class="portfolio-caption">
                        <h4>Notes</h4>
                        <p class="text-muted">Prise de notes en direct</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" style="background-color: #eee;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Informations</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive"  alt="" style="width:101%;height:101%;
                                background-image: url('img/about/1.jpg');-webkit-background-size: 120%;background-size:120%; -webkit-background-position: 47% 20%;background-position: 47% 20%;">

                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Confirmation</h4>
                                    <h4 class="subheading">Vous recevrez un mail avec vos identifiants.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lors de votre première connexion vous devrez personnaliser votre mot de passe. Vous pourrez modifier votre profil afin de renseigner vos informations.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive"  alt="" style="width:101%;height:101%;
                                background-image: url('img/about/2.jpg');-webkit-background-size: cover;background-size: cover;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ensuite</h4>
                                    <h4 class="subheading">Faire ses choix</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vous aurez la possibilité de prioriser les personnes avec lesquelles vous souhaitez avoir un entretien.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="" style="width:101%;height:101%;
                                 background-image: url('img/about/3.jpg');-webkit-background-size:cover;background-size:cover; -webkit-background-position: 47% 20%;background-position: 47% 20%;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enfin</h4>
                                    <h4 class="subheading">Le planning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vous obtiendrez un accès au planning qui récapitule l'heure, la salle, l'entreprise et l'étudiant pour l'entretien.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray" style="background-color: #eee;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Notre Équipe</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                	<a href="https://www.linkedin.com/in/nathana%C3%ABl-mouterde-0090aab0" target="_blank" >
                    <div class="team-member">
                        <img class="img-responsive img-circle" alt="" style="width:219px;height:219px;
                        background-image: url('img/team/nat.jpg');-webkit-background-size: cover;background-size: cover;">
                        <h4>Nathanaël Mouterde</h4>
					</div>
                    </a>
                </div>
             <div class="col-sm-4">
                	<a href="https://www.linkedin.com/in/micka%C3%ABl-depardon-7b8b5b66" target="_blank" >
                    <div class="team-member">
                        <img class="img-responsive img-circle" alt="" style="width:219px;height:219px;
                        background-image: url('img/team/mika.jpg');-webkit-background-size: cover;background-size: cover;">
                        <h4>Mickaël Depardon</h4>
					</div>
                    </a>
                </div>	
               <div class="row">
                <div class="col-sm-4">
                	<a href="https://www.linkedin.com/in/leomoro" target="_blank" >
                    <div class="team-member">
                        <img  class="img-responsive img-circle" alt="" style="width:219px;height:219px;
                        background-image: url('img/team/léo.jpg');-webkit-background-size: cover;background-size: cover;">
                        <h4>Léo Moro</h4>
					</div>
                    </a>
                </div>
               	 <div class="row">
                <div class="col-sm-4">
                	<a href="https://www.linkedin.com/in/pierre-chambodut-65316276" target="_blank" >
                    <div class="team-member">
                        <img  class="img-responsive img-circle" alt="" style="width:219px;height:219px;
                        background-image: url('img/team/pierre.jpg');-webkit-background-size: cover;background-size: cover;">
                        <h4>Pierre Chambodut</h4>
					</div>
                    </a>
                </div>
                 <div class="col-sm-4">
                	<a href="https://www.linkedin.com/in/brunet-thibault-ab268ab1" target="_blank" >
                    <div class="team-member">
                        <img class="img-responsive img-circle" alt="" style="width:219px;height:219px;
                        background-image: url('img/team/thib.jpg');-webkit-background-size: cover;background-size: cover;">
                        <h4>Thibault Brunet</h4>
					</div>
                    </a>
                </div>
                  <div class="col-sm-4">
                	<a href="https://www.linkedin.com/in/dylanreygaurez" target="_blank" >
                    <div class="team-member">
                        <img  class="img-responsive img-circle" alt="" style="width:219px;height:219px;
                        background-image: url('img/team/dydou.jpg');-webkit-background-size: cover;background-size: cover;">
                        <h4>Dylan Rey-Gaurez</h4>
					</div>
                    </a>
                </div>
                 <div class="col-sm-4">
                	<a href="https://www.linkedin.com/in/jocelyn-poncelet-52669267" target="_blank" >
                    <div class="team-member">
                        <img  class="img-responsive img-circle" alt="" style="width:219px;height:219px;
                        background-image: url('img/team/joce.jpg');-webkit-background-size: cover;background-size: cover;">
                        <h4>Jocelyn Poncelet</h4>
					</div>
                    </a>
                </div>
                 <div class="col-sm-4">
                     <a href="http://404.fr/" target="_blank" >
                        <div class="team-member" >
                            <img class="img-responsive img-circle" alt="" style="width:219px;height:219px;
                            background-image: url('img/team/gab.jpg');-webkit-background-size: cover;background-size: cover;">
                            <h4>Gabriel Cervera</h4>
    					</div>
                    </a>
                </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright © Forum Polytech 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/reseaupolytech"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/PolytechLyon/?fref=ts"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/edu/polytech-lyon-164105"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
