<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-exclamation-triangle fa-fw"></i> Jocelyn Poncelet - Retard 5mn
                    <span class="pull-right text-muted small">Il y a 10mn</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-twitter fa-fw"></i> Une autre notification
                    <span class="pull-right text-muted small">Il y a 12mn</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>Voir les alertes</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li>