<script>
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-top messenger-on-right',
        theme: 'flat'
    }
</script>

{% for flashMessage in app.session.flashbag.get('message') %}
    <script>
        Messenger().post({
            message: "{{ flashMessage }}"
        });
    </script>
{% endfor %}