<h1>Bonjour {{ user.firstname }}</h1>

<p>Un administrateur vous a inscrit sur le site <a href="www.forum-polytech.univ-lyon1.fr">Forum Polytech</a>.</p>
<p>Merci de suivre ce lien afin de valider votre compte : <a href="{{ url('enable_account', {token: user.confirmationToken}) }}">Valider mon compte</a></p>
<p>L'équipe Forum Polytech</p>