{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="ui dividing header">Ajouter un nouveau meeting</h1>
    {% if(form_errors(form)|length) > 1 %}
        <div class="ui error message">
            <div class="header">Une erreur est survenue lors de l'ajout du meeting.</div>
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% include "MeetingBundle:Meetings:form.html.twig" %}
{% endblock %}