<div>
    {{ form_start(form, {'attr': {'class':'ui form'}}) }}

    <div class="field">
        {{ form_label(form.student, "Étudiant")}}<br/>
        {{ form_widget(form.student,{'attr': {'id': 'etudiant', 'class':'dropdown' }})}}
    </div>

    <div class="field">
        {{ form_label(form.company, "Entreprise") }}<br/>
        {{ form_widget(form.company,{'attr': {'id': 'entreprise', 'class':'dropdown' }})}}
    </div>

    <div class="field">
        {{ form_label(form.priority, "Priorité",{'attr': {'for': 'priorite' }})}}
        {{ form_widget(form.priority ,{'attr': {'id': 'priorite', 'class':'validate' }})}}
    </div>


    {{ form_rest(form) }}
    <br/>

    <input class="ui button" type="submit" value="Enregistrer" />

    {{ form_end(form) }}
</div>