{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/planning.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dragula.min.js') }}"></script>
    {#<script src="{{ asset('js/planning.js') }}"></script>#}

    <script>
        $(document).ready(function () {
            var drake = dragula([].slice.call(document.getElementsByClassName('drag-inner-list')))
                    .on('drag', function (el) {
                        // add 'is-moving' class to element being dragged
                        el.classList.add('is-moving');
                    })
                    .on('drop', function (el, target, source, sibling) {
                        $('.meeting-invalid').each(function(){
                            console.log($(this));
                            $(this).removeClass('meeting-invalid');
                        });
                        if($(target).attr('id') !== $(source).attr('id')){
                            Messenger().post({
                                message: "Vous ne pouvez pas"
                            });
                            drake.cancel($(el));
                        }
                        var meeting = $(el).data('meeting');
                        var previous = $(el).next('.drag-item').data('meeting');
                        var url;
                        if(previous === undefined){
                            url = Routing.generate('change_planning', {
                                current: meeting
                            });
                        }
                        else{
                            url = Routing.generate('change_planning_previous', {
                                current: meeting,
                                previous: previous
                            });
                        }
                        var cancel = false;
                        $.ajax({
                            url: url,
                            type: "GET",
                            async: false
                        }).done(function(data) {
                            console.log(data);
                            Messenger().post(data.message);
                            if(!data.success){
                                drake.cancel($(el));
                                $.each(data.conflits, function(key, id){
                                    console.log(id);
                                    $('#meeting-' + id).addClass('meeting-invalid');
                                });
                                $('#meeting-' + data.current).addClass('meeting-invalid');
                            }
                            else{
                                $.each(data.hours, function(id, hour) {
                                    $('#hours-' + id).html(hour);
                                });
                            }
                        });
                    })
                    .on('dragend', function (el) {

                        // remove 'is-moving' class from element after dragging has stopped
                        el.classList.remove('is-moving');

                        // add the 'is-moved' class for 600ms then remove it
                        window.setTimeout(function () {
                            el.classList.add('is-moved');
                            window.setTimeout(function () {
                                el.classList.remove('is-moved');
                            }, 600);
                        }, 100);
                    });
                    $(".wrapper1").scroll(function(){
                        $(".drag-container")
                                .scrollLeft($(".wrapper1").scrollLeft());
                    });
                    $(".drag-container").scroll(function(){
                        $(".wrapper1")
                                .scrollLeft($(".drag-container").scrollLeft());
                    });
        })
        ;
    </script>
{% endblock %}

<div class="ui icon message">
    <i class="student icon"></i>
    <div class="content">
        <div class="header">
            Voulez-vous regénerer le planning ?
        </div>
        <p>Vous pouvez regénérer un planning en cliquant <a href="#" class="modal-planning">ici</a>.</p>
    </div>
</div>

<div class = "wrapper1">
    <div class="divwrap1">

    </div>
</div>
<div class="drag-container">
    <ul class="drag-list">
        {% set i = 1 %}
        {% for company in companies %}
            <li class="drag-column drag-column-on-hold">
        <span class="drag-column-header">
            <h2>{{ company.name }}</h2>
        </span>
                <ul class="drag-inner-list" id="{{ i }}" data-company="{{ company.id }}">
                    {% for meeting in meetings %}
                        {% if meeting.startHour != null %}
                            {% if meeting.company.id == company.id %}
                                <li class="drag-item" id="meeting-{{ meeting.id }}" data-meeting="{{ meeting.id }}">
                                    <div class="ui">
                                        <p>
                                            <i class="student icon"></i>{{ meeting.student.user.firstname }} {{ meeting.student.user.name }}
                                        </p>
                                        <p><i class="building icon"></i>{{ meeting.company.name }}</p>
                                        <p><i class="wait icon"></i><span id="hours-{{ meeting.id }}">{{ meeting.startHour|date('H:i') }}</span> - 30mn</p>
                                        {% if meeting.company.room is not null %}
                                            <p><i class="university icon"></i>Salle {{ meeting.company.room.name }}</p>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% set i = i+1 %}
        {% endfor %}
    </ul>
</div>


